/*pc用*/
@media screen and (min-width:751px){
html{
    font-size:100%;
}

body{
    background-color: aliceblue;
    color: black;
}
.wrapper{
    margin: 0 auto 0 auto;
    padding: 0 4%;
}
.exim{
    width:100%;
    height: 100%;

}
.f{
    font-size:25px;
    background-color:#00bfff;
    border-radius:10px;
    text-align: center;
    margin:0 -2px 0 -2px;
   
}

li{
    margin:10px ;
    display:inline;
    list-style:none;
    text-align:center;
}
a{
  
    text-decoration: none;
    color: honeydew;

}

a:hover{
    color: #1e90ff;
}


h2 {
 
  display: inline-block;
  padding: 0 65px;
  text-align: center;
}

h2:before,
h2:after {
  
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

h2:before {
  left: 0;
}

h2:after {
  right: 0;
}
#member{
    text-align: center;

}
#about{
    text-align: center;

}
#Todo{
    text-align: center;
}
#icon{
    width: 200px;
    height:200px;
    border-radius:50%;
}
#contact{
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align:center;
    
}
footer{
    border-top: 1px solid #337ab7;
    background-color: #f5f5f5;
    text-align:center;
}
footer p{
    margin: 10px;
    padding: 20px;
}
.youbou{
    color: #20b2aa;
} 
}


  



