/*↓スマホ用*/
@media screen and (max-width:485px) {
    
  html{
      font-size:100%;
      
  }
  .exim{
    width:100%;
    height:50%;
  }
  body{
      background-color: aliceblue;
      color:black; 
  }
.wrapper{
      margin: 0 auto 100px auto;
      padding: 0 4%;
      height:100%;
      

  }

  .f{
    border-radius:10px;
    font-size:25px;
    background-color:#00bfff;
    text-align:center;
    margin:0;
    padding:0;
}
  li{
    margin:2px;
    display:inline;
    list-style:none;
    
  }
  ul li{
    width: 100%;            
    margin: 0 0 5px;       
    box-sizing: border-box; 
    display: inline-block;  
  }
  
  a{
    text-decoration: none;
    color: honeydew; 
  }
  
  a:hover{
      color: #1e90ff;
  }
  
  
  h2 {
   
    display: inline-block;
    padding: 0 65px;
    text-align: center;
  }
  
  h2:before,
  h2:after {
   
    top: calc(50% - 3px);
    width: 50px;
    height: 6px;
   
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    right: 0;
  }
  
  h2:before {
    left: 0;
  }
  
  
  #about{
    text-align:center;
  
  }
  #member{
    text-align:center;
  }
  #Todo{
      text-align: center;
  }
  #icon{
      width: 200px;
      height:200px;
      border-radius:50%;
     
  }
  h3{
      font-size:20px;
  }
  
  #contact{
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align:center;
}
  
  .youbou{
      color: #20b2aa;
  }
  footer{
    border-top: 1px solid #337ab7;
    background-color: #f5f5f5;
  }
  footer p{
      margin: 10px;
      padding: 20px;
      text-align:center;
  }

}
